* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

.item {
    margin: 10px;
}

.item label, .item input {
    display: block;
}

.item label {
    font-size: 11px;
    font-weight: 500;
}

.item input {
    padding: 6px 10px;
    margin: 2px 0;
    border-radius: 4px;
    border: 2px solid rgb(145, 71, 255);
}

input::placeholder {
    color: #777;
}

.option-form {
    padding: 20px 4px;
    max-width: 500px;
}

.option-form .game-group {
    margin: 10px;
}

.option-form .game-group label {
    font-weight: 700;
    width: 100%;
    display: block;
    size: 0.6em;
    margin-bottom: 2px;
}

.option-form .game-group input {
    width: 100%;
    display: block;
    size: 1em;
}

.option-form .game-group .save-btn {
    padding: 2px 14px;
    border-radius: 3px;
}

.btn {
    cursor: pointer;
    padding: 6px 12px;
    border-radius: 6px;
    border: none;
    background-color: #772ce8;
    color: #efeff1;
}

#login-btn {
    background-color: rgb(255, 0, 0);
}

#login-btn, #logout-btn {
    display: none;
}

#message.error {
    color: #ff0000;
}